html,
body{
  margin:0;
  padding:0;
  height: 100%;
}

-#cover {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
   position: relative;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
   height: 110vw;
   display: flex;
   flex-direction: row;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.sidebar
{
  background-color: grey;
  height: 100%;
  widows: 30%;;
  display: flex;
  flex-direction: column;
}

.choose-bids {
  position: relative;
  width: 50%;
}

.overlay-accepted {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  width: 25%;
  left: 75%;
  height: 100%;
}

.overlay-declined {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  left: 75%;
  background-color: red;
  height: 100%;
}

.chosen-text {
  color: black;
  background: transparent;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.content {
  display: block;
  width: 100%;
  height: auto;
}

.choose-bids:hover .overlay {
  width: 25%;
  left: 75%;
}

.text {
  color: rgb(248, 249, 250);
  background: #008CBA;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.results
{
  display: flex;
  width: 70%;
  margin-left: 20px
}

.rw 
{
  display: flex;
}

.info
{
  border-right: solid 1px #000;
  padding-right: 5px;
}