/* thinking of sleek, faded black with picture in the backgroun. rounded edges and such */


/* 
input {
    width: 25em;
}

th, tr {
    padding: 1em;
    text-align: left;
    color: rgb(100,100,100);
    font-family: "Times New Roman", Times, sans-serif;
}

.divider {
    display: block;
    margin: 5px auto;
    width: 90%;
    height: 0.5px;
    background: rgb(100,100,100);
    opacity: 80%;
}   */