<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>FiestaPivot</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="static/CSS/main.css" />

		<!--Bootstrap CDN and JS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body>
		<!--Navbar things (TOP)-->
		<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		    <a class="navbar-brand abs" href="#">FiestaPivot</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="navbar-collapse collapse" id="collapsingNavbar">
		        <ul class="navbar-nav">
		            <li class="nav-item">
		                <a class="nav-link" href="/about">About</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/search">Search</a>
		            </li>
		        </ul>
		        <ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		                <a class="nav-link" href="/register">Register</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/login">Login</a>
		            </li>
		        </ul>
		    </div>
		</nav>

		<!--Please style this :)-->
		{% if error %}
		<p><strong>Error:</strong> {{ error }}
		{% endif %}

		{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      	{% endwith %}

		<!-- Bootstrap adapted from https://www.codeply.com/go/Am5LvvjTxC/bootstrap-4-center-form-->
		<section id="cover" style="background: url(static/Images/cateringDark.jpg) center no-repeat; background-size: cover;">
		    <div id="cover-caption">
		        <div id="container" class="container">
		            <div class="row text-white">
		                <div class="col-sm-10 offset-sm-1 text-center">
		                    <h1 class="display-3">Welcome Back</h1>
		                </div>
		                    <div class="col-sm-6 offset-sm-3 text-center" class="info-form">
		                        <form action="" method="POST" class="justify-content-center">
		                            <div class="form-group">		             	
		                                <label class="sr-only">Email</label>
		                                <input type="email" name="email" class="form-control" placeholder="a.nymeyer@unsw.edu.au" required>
		                            </div>
		                            <div class="form-group">
		                                <label class="sr-only">Password</label>
		                                <input type="password" name="password" class="form-control" placeholder="********" required>
		                            </div>
		                            <button type="submit" class="btn btn-success ">Login</button>
		                        </form>
		                    </div>
		                    <br>
	                </div>
	            </div>
	        </div>
		</section>
		
	<!-- Footer -->
	<footer class="page-footer font-small navbar-dark bg-dark pt-4">
	    <div class="container text-center">
			<p class="text-light">
	        FiestaPivot is an innovative new take on the outsourcing business model - bringing all its benefits to the realm of food preparation. Find people to cater for your party, black tie function, or picnic, or offer your services to help new clients, and become the most in-demand business in town.
	    	</p>
	    </div>
	    <div class="text-center py-3"><p class="text-light">© 2018 Copyright Team Artemis</div>
	</footer>
</html>
