<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Post ad</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="static/CSS/post.css">

        <!--Bootstrap CDN and JS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
		    <a class="navbar-brand abs" href="/">FiestaPivot</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="navbar-collapse collapse" id="collapsingNavbar">
		        <ul class="navbar-nav">
		            <li class="nav-item">
		                <a class="nav-link" href="/about">About</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/search">Search</a>
		            </li>
				</ul>
		        <ul class="navbar-nav ml-auto">
		        	<li class="nav-item">
						<a class="nav-link" href="/account">My Dashboard</a>
                    </li>
					<li style="margin-left: 10px;" class="nav-item">
                        <a href="/logout">
                            <button type="button" class="btn btn-light">Sign Out</button>
                        </a>
                    </li>
		        </ul>
		    </div>
		</nav>

        <div class="jumbotron vertical-center" style="background:transparent;">
			<div class="container" style="padding: 50px; border-radius: 5px">
                <h1 class="text-center text-dark">Create Your Ad</h1>
                <div class="col-sm-12 offset-sm-3" class="info-form">
                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <p for="inputPassword4" class="text-dark">Name of event</p>
                                <input type="text" name="title" class="form-control" id="title" placeholder="E.g. BBQ with the bois" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <p for="inputCity" class="text-dark">City</p>
                                <input type="text" name="city" class="form-control" placeholder="E.g. Sydney" value="{{city[0]}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <p for="inputState" class="text-dark">State</p>
                                <select id="stateSelect" name="state" id="inputState" class="form-control" required>
                                    <option selected disabled hidden>State:</option>
                                    <option value="nsw">NSW</option>
                                    <option value="qld">QLD</option>
                                    <option value="sa">SA</option>
                                    <option value="tas">TAS</option>
                                    <option value="vic">VIC</option>
                                    <option value="wa">WA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <p for="alcoholSelect" class="text-dark">Alcohol?</p>
                                <select  name="alcohol" id="inputAlcohol" class="form-control" required>
                                    <option value="No" selected>No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" style="height: auto">
                                <p for="inputCity" class="text-dark">Number of people:</p>
                                <span class="noPeople">
                                    <input name="noPeople" class="form-control" type="number" min="0" max="100000" step="1" required/>
                                </span>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="form-group col-md-6" style="height: auto">
                                    <p for="inputCity" class="text-dark">Price offered:</p>
                                    <span class="price">
                                        <input name="price" class="form-control" type="number" min="0.00" max="10000.00" step="5.00" required/>
                                    </span>
                                </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" style="height: auto">
                                <p for="inputCity" class="text-dark">Description of event:</p>
                                <textarea rows="4" cols="50" name="descr" class="form-control" required></textarea> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <p for="inputCity" class="text-dark">Date of event:</p>
                                <input class="form-control" type="date" name="date" min="now" required>
                            </div>
                            <div class="form-group col-md-2">
                                <p for="inputState" class="text-dark">Start time of event:</p>
                                <input class="form-control" type="time" name="start-time" required>
                            </div>
                            <div class="form-group col-md-2">
                                <p for="inputState" class="text-dark">End Time of event:</p>
                                <input class="form-control" type="time" name="end-time" required>
                            </div>
                        </div>
                        <a href="/account"><button type="submit" class="btn btn-primary">Post</button></a>
                    </form>
                </div>
			</div>
        </div>
    
    <!-- <script>
    let temp = "{{state[0]}}";
    let mySelect = document.getElementById('mySelect');
    //alert ("hello in here " + temp + mySelect)
    for(let i, j = 0; i = mySelect.options[j]; j++) {
        alert("going through");
        if(i.value.value == temp) {
            mySelect.selectedIndex = j;
            break;
        }
    }
    alert("ending")
    </script> -->
    
</body>
</html>