<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Post ad</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="static/CSS/post.css">

        <!--Bootstrap CDN and JS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
		    <a class="navbar-brand abs" href="/">FiestaPivot</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="navbar-collapse collapse" id="collapsingNavbar">
		        <ul class="navbar-nav">
		            <li class="nav-item">
		                <a class="nav-link" href="/about">About</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/search">Search</a>
		            </li>
				</ul>
		        <ul class="navbar-nav ml-auto">
		        	<li class="nav-item">
						<a class="nav-link" href="/account">My Account</a>
                    </li>
					<li style="margin-left: 10px;" class="nav-item">
                        <a href="/logout">
                            <button type="button" class="btn btn-light">Sign Out</button>
                        </a>
                    </li>
		        </ul>
		    </div>
		</nav>

        <div class="jumbotron vertical-center" style="background:transparent;">
			<div class="container" style="padding: 50px; border-radius: 5px">
                <h1 class="text-center text-dark">Create Your Ad</h1>
                <div class="col-sm-12 offset-sm-3" class="info-form">
                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <p for="inputPassword4" class="text-dark">Ad Title</p>
                                <input type="text" name="title" class="form-control" id="title" placeholder="E.g. BBQ with the bois">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <p for="inputCity" class="text-dark">City</p>
                                <input type="text" name="city" class="form-control" placeholder="E.g. Sydney">
                            </div>
                            <div class="form-group col-md-2">
                                <p for="inputState" class="text-dark">State</p>
                                <select name="state" id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>NSW</option>
                                    <option>QLD</option>
                                    <option>SA</option>
                                    <option>TAS</option>
                                    <option>VIC</option>
                                    <option>WA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="form-group col-md-6" style="height: auto">
                                    <p for="inputCity" class="text-dark">Price</p>
                                    <span class="price">
                                        <input name="price" class="form-control" type="number" min="0.00" max="10000.00" step="5.00" required/>
                                    </span>
                                </div>
                            </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" style="height: auto">
                                <p for="inputCity" class="text-dark">Description</p>
                                <textarea rows="4" cols="50" name="descr" class="form-control">
                                
                                </textarea> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <p for="inputCity" class="text-dark">Start Date</p>
                                <input class="form-control" type="date" name="date" min="now">
                            </div>
                            <div class="form-group col-md-2">
                                <p for="inputState" class="text-dark">Start Time</p>
                                <input class="form-control" type="time" name="start-time">
                            </div>
                            <div class="form-group col-md-2">
                                <p for="inputState" class="text-dark">End Time</p>
                                <input class="form-control" type="time" name="end-time">
                            </div>
                        </div>
                        <button onclick="postSuccess(document.getElementById('title').value)" type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
			</div>
        </div>

<!-- SCRIPTS -->
        <!-- Successfulk post to website -->
        <script>
        function postSuccess(title) 
        {
            alert("Successfully posted " + title + "!");
        }
        </script> 
</body>
</html>