<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search for ads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/CSS/main.css">

    <!-- W3 schools modal stylsheet  -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--Bootstrap CDN and JS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background: url(static/Images/cateringDark.jpg);">
    <div id="container">

        <!-- Header -->
        <div id="header">
            <!--Navbar (Bootstrap taken from https://www.codeply.com/go/qhaBrcWp3v) -->
            <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                <a class="navbar-brand abs" href="/">FiestaPivot</a>
                <button class="navbar-toggler" type="button" data-to0987ggle="collapse" data-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="collapsingNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/account">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="/post-ad">
                                <button type="button" class="btn btn-light">Post an Ad</button>
                            </a>
                        </li>
                        <li style="margin-left: 10px;" class="nav-item">
                            <a href="/logout">
                                <button type="button" class="btn btn-light">Sign Out</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        <!-- Body -->
        <div id="body">
             <div class="sidebar col-lg-3">
                <h3 class="rw">Search for ads</h3>
                <h5 class="rw">Please enter in criteria:</h5>

                <!--Input fields for search criteria-->
                <div class="rw">
                    <p for="inputPassword4" class="text-dark">Keywords</p>
                    <input id = "keywords" value="{{keywords}}" type="text" name="title" class="form-control" id="inputPassword4" placeholder="Type in keywords">
                </div>
                <div class="rw">
                    <p for="inputCity" class="text-dark">City</p>
                    <input id="city" type="text" name="city" class="form-control" placeholder="E.g. Sydney">
                </div>
                <div class="rw">
                    <p for="inputState" class="text-dark">State</p>
                    <select name="state" id="state" class="form-control">
                        <option selected>Choose...</option>
                        <option>NSW</option>
                        <option>QLD</option>
                        <option>SA</option>
                        <option>TAS</option>
                        <option>VIC</option>
                        <option>WA</option>
                    </select>
                </div>
                <div class="rw" style="height: auto">
                        <p for="inputCity" class="text-dark">Min. Price</p>
                        <span class="price">
                            <input id="minPrice" name="price" class="form-control" type="number" min="0.00" max="10000.00"/>
                        </span>
                </div>
                <div class="rw" style="height: auto">
                        <p for="inputCity" class="text-dark">Max. Price</p>
                        <span class="price">
                            <input id="maxPrice" name="price" class="form-control" type="number" min="0.00" max="10000.00"/>
                        </span>
                </div>
                <div class="rw">
                        <p for="inputCity" class="text-dark">Date</p>
                        <input id="date" class="form-control" type="date" name="date" min="now">
                </div>
                <button onclick="filter()">Refresh</button>
             </div>
             

             <!--Put boxes containing ads in here-->
             <div class="results">
                <div class="list-group" style="width: 100%;">
                    {% for ad in ads %}
                    <a onclick="document.getElementById('{{ad[0]}}').style.display='block'" href="#" class="list-group-item list-group-item-action flex-column align-items-start adResult" style="width: 100%;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ ad[2] }}</h5>
                            <small id="date">Date: {{ ad[8] }}</small>
                        </div>
                        <p id="desc" class="mb-1">{{ ad[6] }}</p>
                        <small>{{ ad[1] }}</small>
                        <small id="price" value="{{ad[3]}}">Price: {{ ad[3] }}</small>
                        <small id="city" value="{{ad[4]}}">City: {{ ad[4] }}</small>
                        <small id="state" value="{{ad[5]}}">State: {{ ad[5] }}</small>
                    </a>

                    <!--AD MODALS-->
                    <div class="Modals">
                        <div id="{{ad[0]}}" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            
                            <div class="w3-center"><br>
                                <span onclick="document.getElementById('{{ad[0]}}').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                <p id="adTitle">{{ad[2]}}</p>
                            </div>
            
                            <div class="w3-container">
                                <div class="w3-section">
                                    <h3>Posted by:</h3>
                                        <label><b>{{ad[1]}}</b></label>
                                    <h3>Location:</h3>
                                        <label><b>{{ad[4]}}, {{ad[5]}}</b></label>
                                    <h3>Price:</h3>
                                        <label><b>{{ad[3]}}</b></label>
                                    <h3>Date:</h3>
                                        <label><b>{{ad[8]}}</b></label>
                                    <h3>Job description:</h3>
                                        <label><b>{{ad[6]}}</b></label>
                                </div>
                            </div>
            
                            <div class="w3-container w3-center w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="bidModal('{{ad[2]}}', '{{ad[0]}}')" type="button" class="w3-button w3-red">Place bid</button>
                            </div>
            
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!--Modal for bid-->
                <div class="Modals">
                    <div id="bid" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                            
                            <div class="w3-center"><br>
                                <span onclick="document.getElementById('bid').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                <label id="bidTitle"></label>
                            </div>
                            
                            <form action="/bid-send" method="post" class="w3-container w3-center w3-border-top w3-padding-16 w3-light-grey">
                                <div class="w3-container">
                                    <div class="w3-section">
                                        <h3>Your price:</h3>
                                            <input id="priceInput" name="priceInput">
                                        <h3>Additional messages/comments to poster:</h3>
                                            <input id="commentInput" name="commentInput" placeholder="Please provide salt, cleanup incuded etc.">
                                        <input id="adID" name="adID" type="hidden">
                                    </div>
                                </div>
                                <button type="submit" value="Place Bid" type="button" class="w3-button w3-red">Place bid</button>
                            </form>
                        </div>
                    </div>
                </div>


                </div>
            </div>

        <!-- Footer-->
        <div id="footer">
            <footer class="page-footer font-small navbar-dark bg-dark pt-4">
                <div class="container text-center">
                    <p class="text-light">
                    FiestaPivot is an innovative new take on the outsourcing business model - bringing all its benefits to the realm of food preparation. Find people to cater for your party, black tie function, or picnic, or offer your services to help new clients, and become the most in-demand business in town.
                    </p>
                </div>
                <div class="text-center py-3"><p class="text-light">© 2018 Copyright Team Artemis</div>
        </footer>
        </div>
    </div>

<!-- SCRIPTS -->
    <!--Successful bid confirmation-->
    <script>
    function bidSuccess(title) 
    {
        alert("Successfully bidded on " + title + "!");
    }
    </script>

    <!--Bring up bid modal-->
    <script>
    function bidModal(postTitle, postID)
    {
        // Hide old modal
        document.getElementById(postID).style.display='none';
        
        // Change title of new modal to contain title of ad
        document.getElementById('bidTitle').innerHTML = "Bidding on: " + postTitle;
        
        // Show new modal
        document.getElementById('bid').style.display='block';
        
        // Change label to be id of ad
        document.getElementById('adID').value = postID;
    }
    </script>
    <!--Handle search criteria-->
    <script>
        function filter()
        {
            // Get criteria entered
            let keywords = document.getElementById("keywords").value;
            let city = document.getElementById("city").value;
            let state = document.getElementById("state").value;
            let minPrice = parseFloat(document.getElementById("minPrice").value);
            let maxPrice = parseFloat(document.getElementById("maxPrice").value);
            let date = document.getElementById("date").value;

            // Get all ad objects
            let adResults = document.getElementsByClassName("adResult");
            
            // Loop through all ads and check for attributes
            for (let i=0; i<adResults.length; i++)
            {
                // Set all to visible by default
                adResults[i].style.display="block";

                // Filtering by price
                let adPrice = parseFloat(adResults[i].children.price.attributes.value.value);
                if ((!isNaN(minPrice) && adPrice < minPrice) || (!isNaN(maxPrice) && adPrice > maxPrice))
                {
                    adResults[i].style.display="none";
                }

                // Filtering by city
                let adCity = adResults[i].children.city.attributes.value.value;
                alert("City is " + city + "and adCity is " + adCity);
                if (city != "" && city != adCity)
                {
                    adResults[i].style.display="none";
                }

                // Filtering by city
                let adState = adResults[i].children.state.attributes.value.value;
                if (state != "Choose..." && state != adState)
                {
                    adResults[i].style.display="none";
                }

                
            }


            // Searching by keyword TODO
        } 
    </script>

</body>
</html>