<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FiestaPivot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="static/CSS/userDash.css" />

        <!-- W3 schools modal stylsheet  -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/CSS/main.css">

         <!-- Bootstrap CDN and JS  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <!--Navbar (Bootstrap taken from https://www.codeply.com/go/qhaBrcWp3v) -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand abs" href="/">FiestaPivot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                            <a class="nav-link" href="/account">{{name[0]}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="/post-ad">
                            <button type="button" class="btn btn-outline-light">Post an Ad</button>
                        </a>
                    </li>
                    <li style="margin-left: 10px;" class="nav-item">
                        <a href="/logout">
                            <button type="button" class="btn btn-outline-light">Sign Out</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Body-->
        <div class="jumbotron jumbotron-fluid" style="height: 100vh">
          <div class="container">
            <h1 class="display-5">Welcome Back {{name[0]}}</h1>
            <hr class="my-4">
            <div id="active">
                <p class="lead">My Ads</p>
                {% for ad in ads %}
                <a href="#ad-{{ad[0]}}" data-toggle="modal" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ad[2] }}</h5>
                        <small>Event date: {{ ad[8] }}</small>
                    </div>
                    <p>{{ ad[6] }}</p>
                    <small class="info">Price: ${{ ad[3] }}</small>
                    <small class="info">Alcohol provisions: {{ ad[11] }}</small>
                    <small class="info">Number of people: {{ ad[12] }}</small>
                    <small class="info">Status: {{ ad[7] }}</small>
                </a>

                <!--Modals for each ad-->
                <!--AD MODALS-->
                <div class="modal fade" id="ad-{{ad[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="modal-title">{{ ad[2] }}</h5>
                                    <small>Event date: {{ ad[8] }}</small>
                                </div>  
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if edit == False %}
                                <!-- TODO -->
                                    <p class="mb-1">{{ ad[6] }}</p>
                                    <small class="info">Price: ${{ ad[3] }}</small>
                                    <small class="info">Alcohol provisions: {{ ad[11] }}</small>
                                    <small class="info">Number of people: {{ ad[12] }}</small>
                                    <small class="info">Status: {{ ad[7] }}</small>
                                {% else %}
                                    {% include "forum-ad.html" %}
                                {% endif %}
                            </div>
                            {% if bidsOrdered %}
                            <!--Put bids for ad in here-->
                            {% if bidsOrdered[0][6] == "PENDING" %}
                                <p>Choose a bid:</p> 
                            {% endif %}   

                            {% for bid in bidsOrdered %}
                                {% if bid[1] == ad[0] %}
                                    <div>
                                        <a class="choose-bids list-group-item list-group-item-action flex-column align-items-start">
                                            <form action="/choose-bid" method="POST">
                                                {% if bid[6] == "PENDING" %}
                                                    <div class="overlay">
                                                        <button type="submit" class="text">Choose Bid</button>
                                                    </div>
                                                {% elif bid[6] == "ACCEPTED" %}
                                                    <div class="overlay-accepted">
                                                        <button disabled type="submit" class="chosen-text">Accepted</button>
                                                    </div>
                                                {% elif bid[6] == "DECLINED" %}
                                                    <div class="overlay-declined">
                                                        <button disabled type="submit" class="chosen-text">Declined</button>
                                                    </div>
                                                {% endif %}

                                                <input style="display:none" name="id" value="{{bid[0]}}">
                                                <div class="content">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1" id="name" >Bid for {{ bid[2] }}</h5>
                                                    </div>
                                                    <p class="mb-1" id="comment">Message: {{ bid[5] }}</p>
                                                    <small id="price">Bid amount: ${{ bid[4] }}</small>
                                                    <small id="User">Posted by user: {{ bid[3] }}</small>
                                                </div>
                                            </form>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% endif %} 
                            <div class="modal-footer">
                                <form action="/delete-ad" method="POST">
                                    <input style="display: none" name="id" type="text" value="{{ad[0]}}">
                                    <button type="submit" class="btn btn-secondary">Delete</button>
                                </form>
                                 <button type="button" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <div id="active">
                <p class="lead">My Bids</p>
                {% for bid in bids %}
                <a href="#bid-{{bid[0]}}" data-toggle="modal" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h5 class="mb-1" id="name" >{{ bid[2] }}</h5>
                    <p class="mb-1" id="comment">Message: {{ bid[5] }}</p>
                    <small id="price">Bid amount: ${{ bid[4] }}</small>
                    <small id="status">Original Budget: ${{ bid[7] }}</small>
                    <small id="status">Status: {{ bid[6] }}</small>
                </a>

                <!--Modals for each bid-->
                <!--bid MODALS-->
                <div class="modal fade" id="bid-{{bid[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{bid[2]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <p id="price">Bid amount: ${{ bid[4] }}</p>
                                <p class="mb-1" id="comment">Message: {{ bid[5] }}</p>
                                <small id="status">Original Budget: ${{ bid[7] }}</small>
                                <small id="status">Status: {{ bid[6] }}</small>
                            </div>
                            <div class="modal-footer">
                                <form action="/delete-bid" method="POST">
                                    <input style="display: none" name="id" type="text" value="{{bid[0]}}">
                                    <button type="submit" class="btn btn-secondary">Delete</button>
                                </form>
                                 <button onclick="'{% set edit = True %}'" type="button" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div id="active">
                <p class="lead">My Info</p>
                
            </div>

          </div>
        </div>

    <script>
        function show_modal(id) {
            document.getElementById(id).style.display='block'
        }

        document.getElementById().onclick = () => {

        }
    </script>
    </body>

     <!-- Footer -->
    <footer class="page-footer font-small navbar-dark bg-dark pt-4">
        <div class="container text-center">
            <p class="text-light">
            FiestaPivot is an innovative new take on the outsourcing business model - bringing all its benefits to the realm of food preparation. Find people to cater for your party, black tie function, or picnic, or offer your services to help new clients, and become the most in-demand business in town.
            </p>
        </div>
        <div class="text-center py-3"><p class="text-light">© 2018 Copyright Team Artemis</div>
    </footer>
</html> 